@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: #f6f1e9;
    color: #b84a62;
    
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Comfortaa", sans-serif;
    color: #b84a62;
}

.search-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, sans-serif;
    
}

#location {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    color: #2c3a47

}

#checkIn,
#checkOut {
    padding: 10px;
    font-size: 16px;
    width: 150px;
    color: #2c3a47

}

#guests {
    padding: 10px;
    font-size: 16px;
    width: 50px;
    color: #2c3a47
 
}

button {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #b84a62;
    color: #f6f1e9;
}

input {
    border: 1px solid #ccc;
    border-radius: 15px;
    
}

.restaurant-card {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.restaurant-card h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
}

.restaurant-card p {
    margin: 5px 0;
    font-size: 14px;
}